vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Sep 2002 18:32:00 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|22 Sep 2002 18:32:00 -0000
vti_filesize:IR|7951
vti_cachedlinkinfo:VX|S|hxlinktable.htc
vti_cachedsvcrellinks:VX|NSUS|Docs/Examples/RateServiceAPI/net/tools/hxlinktable.htc
vti_lineageid:SR|{ED41B988-6D1D-4D74-A8AD-D69FF4EDB625}
vti_backlinkinfo:VX|Docs/Examples/RateServiceAPI/net/tools/tags.html
